DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/blacklist_db
AUTH_BEARER_TOKEN=static-token
JWT_SECRET_KEY=dev-jwt-secret

NEW_RELIC_LICENSE_KEY=TU_KEY_AQUI
NEW_RELIC_APP_NAME=blacklist-microservice